__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
.env
instance/
.vscode/


# Database files
*.db
*.sqlite3

# Firebase credentials (NEVER commit this!)
firebase-credentials.json

# Uploads
static/uploads/*
!static/uploads/.gitkeep
